<ul class="nav navbar-nav navbar-right">
    <li>
        <a class="btn btn-link btn-flat" href="{{ admin.generateUrl('create', {}) }}">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            {{ 'Nhập kho'|trans({}, 'message') }}
        </a>
    </li>
</ul>