{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    <div>
        {% if object.imagePath != null %}
            <img width="100" height="100" src="{{ object.imagePath }}">
        {% else %}
            <span>No picture</span>
        {% endif %}
    </div>
{% endblock %}