body {
	color: #222;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}
a:hover {
	color: #d68437 !important;
	text-decoration: none !important;;
}
.top-header {
	width: 100%;
	height: 110px;
}
.logo img {
	width: 250px;
}
.search input {
	float: left;
	display: inline;
	margin-top: 35px;
	width: 85%;
}
.search button {
	float: left;
	display: inline-block;
	margin-top: 35px;
	margin-left: -5px;
	border-radius: 0 5px 5px 0;
}
.shopping-cart {
	color: white;
	background-color: #d00;
	float: right;
	margin-top: 37px;
	line-height: 34px;
	padding: 0 5px;
	border-radius: 5px;
}
.shopping-cart i {
	font-size: 20px;
}
a.shopping-cart:hover {
	color: #fff;
	text-decoration: none;
}
.top-right {
	float: right;
	padding: 5px;
}
.banner {
	position: relative;
	width: 100%;
}
.banner .bg-header {
	width: 100%;
}
.banner .logo {
	position: absolute;
	top: 20px;
	left: 20px;
}
.banner .slogan {
	position: absolute;
	top: 25px;
	left: 120px;
}
.content {
	margin: 0 auto;
	max-width: 1024px;
}
.carousel-item img {
	width: 100%;
	height: 250px;
}
.lst-title {
	position: relative;
	margin-top: 25px;
}
.lst-title h4 {
	color: #f00;
	border-bottom: solid 2px #80bdff;
}
.lst-title a, .lst-title a:hover {
	position: absolute;
	top: 0;
	right: 0;
	color: #f00;
	text-decoration: none;
}
.home-banner .left-item {
	width: 66.67%;
	padding: 13px;
	float: left;
}
.home-banner .left-item img {
	width: 100%;
	height: 100%;
}
.home-banner .right-item {
	width: 33.33%;
	padding: 13px 13px 13px 0;
	float: left;
}
.home-banner .right-item img {
	width: 100%;
	height: 100%;
}
.lst-items {
	padding: 0;
	text-align: center;
}
.lst-wrapper-border {
	border-top: solid 1px #e3e3e3;
	border-left: solid 1px #e3e3e3;
}
.lst-items .item {
	list-style: none;
	border: solid 1px #e3e3e3;
	display: inline-block;
	margin: 0 5px;
}
.lst-items .item img {
	display: block;
	margin: 0 auto;
}
.lst-items .item .desc {
	display: block;
	padding: 5px;
	font-size: 13px;
	text-align: left;
}
.lst-items .item .p-price {
	color: #f00;
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	padding: 5px;
	width: 48%;
}
.lst-items .item .p-old-price {
	font-size: 14px;
	display: inline-block;
	padding: 5px;
	width: 48%;
	text-decoration: line-through;
}
.lst-items .item-cate {
	margin: 0;
	padding: 0;
	border: none;
	border-right: solid 1px #e3e3e3;
	border-bottom: solid 1px #e3e3e3;
}
.owl-carousel .owl-item img {
	width: auto;
}
.breadcrumb {
	background-color: transparent !important;
	padding: .75rem 0 !important;;
}
.flex-direction-nav a {
	display: none !important;
}
.single-para h4 {
	color: #000;
	font-size: 2em;
}
.star-on {
	padding: 1em 0;
}
.review {
	float: left;
	padding: 0 1em;
}
.star-on a {
	text-decoration: none;
	font-size: 1em;
	color: #000;
}
.single-para h5 {
	color: #8ce78a;
	font-size: 1.7em;
	border-bottom: 1px solid #C4C3C3;
	padding: 0.3em 0;
}
.single-para p {
	font-size: 1em;
	color: #2c3e50;
	line-height: 1.8em;
	margin: 1em 0;
}
.available ul {
	padding: 0;
	margin: 0;
}
.available ul li select {
	outline: none;
	padding: 6px;
	border: none;
	background: #eeeeee;
	width: 64%;
	margin-left: 7%;
	cursor: pointer;
}
.available ul li {
	list-style: none;
	padding: 0 0.5em 0 0;
	color: #4c4c4c;
	font-size: 13px;
	margin: 0.5em 0;
	float: left;
	width: 50%;
	vertical-align: middle;
}
a.add-cart {
	text-decoration: none;
	color: #fff;
	background: #8ce78a;
	padding: 0.4em 0.8em;
	font-size: 0.9em;
	text-transform: uppercase;
	margin-top: 2em;
	display: inline-block;
}
a.item_add {
	text-decoration: none;
}
.item_add {
	color: #fff;
	border: none;
}
.flex-viewport {
	border: 1px solid #D1CFCF;
}
.flex-control-thumbs img {
	border: 1px solid #D1CFCF;
}
.flex-control-thumbs li {
	width: 24% !important;
	float: left;
	margin: 0 1% 0 0 !important;
}
.flex-control-thumbs {
	margin: 20px 0 0 !important;
}
a.add-cart:hover {
	background: #000;
	color: #fff;
	text-decoration: none;
	transition: 0.5s;
}
.navbar {
	background: #87ceeb;
	padding: 0 1rem;
	border-radius: 5px;
}
.navbar .nav-item {
	display: block;
	padding: 5px 10px;
}
.navbar .nav-item.active {
	background: #e6e6fa;
}
.cart-prod-img {
	float: left;
	width: 35%;
}
.cart-prod-img img {
	width: 90px;
	height: 90px;
}
.card-prod-title {
	float: left;
	display: inline-block;
	width: 65%;
}
.num-prod-inp {
	display: table-cell;
	max-width: 75px;
	vertical-align: middle;
}
.num-prod-inp i {
	float: left;
	margin-top: 15%;
}
.num-prod-inp input {
	float: left;
	width: 60%;
}
.table-cart th, .table-cart td {
	text-align: center;
}
.form-wrapper {
	border: solid 1px #dee2e6;
	padding: 20px;
}
/** Filter bar */
.taskbar-top {
	background: #f5f5f5;
	box-sizing: border-box;
	position: relative;
}
.filter-pro {
	float: left;
}
.item-filter, .item-filter-more {
	float: left;
	position: relative;
	height: 34px;
	line-height: 34px;
	margin-right: 8px;
}
.item-filter span.title {
	display: block;
	padding: 0 3px 0 6px;
	color: #527bc5;
}
.item-filter ul {
	position: absolute;
	background: #fff;
	width: 825px;
	z-index: 99;
	display: none;
	border: solid 1px #ddd;
	left: 0;
	top: 30px;
}
.item-filter ul {
	padding: 0;
	width: 680px !important;
}
.item-filter ul li {
	list-style: none;
}
.item-filter li {
	float: left;
	width: 33.33%;
}
.item-filter ul li a {
	display: block;
	padding: 0 10px;
	border-bottom: solid 1px #eee;
	line-height: 30px;
}
.sort-by {
	float: right;
	margin-top: 3px;
	margin-right: 2px;
}
.item-filter:hover span.title {
	background: #365899;
	color: #fff;
}
#price-slider-range {
	margin: 10px;	
}
.price-text-range {
	margin-left: 10px;
}
.article-date {
	font-size: 12px;
	color: #808080;
}
.related-box-title {
	font-size: 28px;
	color: #666766;
}
.related-item {
	margin-bottom: 20px;
}
.related-article-image {
	float: left;
}
.related-article-title {
	margin: 5px;
	font-size: 18px;
	color: #666766 !important;
}
.related-article-date {
	margin-left: 70px;
	font-size: 12px;
	color: #808080;
}
.related-article-detail {
	margin: 5px;
	font-size: 14px;
	color: #666766 !important;
}